ion-header{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 10px 5px;
    background-color: var(--ion-tab-bar-background);
}
.img{
    max-width: 50%;
    width: 25%;
}
.img2{
    max-width: 50%;
    width: 10%;
}
